body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Calculator{
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttonSection{
    display: flex;
    flex: auto;
}
.numberKeys{
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    max-width: 200px;
}
.numberKeys button{
    display: flex;
    flex: auto;
    min-width: 55px;
}
.operandKeys{
    display: flex;
    flex-direction: column;
}
.operandKeys button{
    display: flex;
    flex: auto;
    min-width: 55px;
}